<div class="container-fluid">
    <div class="row p-2">
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <img [src]="image" style="width: 220px; height: 300px;">
            Form Status
            <select class="form-select">
                <option selected></option>
            </select>
            Comment
            <select class="form-select">
                <option selected></option>
            </select>
                </div>
                <div class="col-6">
                    <p class="fs-3 m-1">Name</p>
                <p class="fs-6">Registered No. 123456</p>
                <p class="fw-bold mt-5">Accra Games 2024</p>
                <button class="btn btn-info mt-5">Add</button>
                </div>
                <div class="col-12">
                    <textarea class="form-control mt-4" rows="6"></textarea>
                </div>
            </div>
            
        </div>
        <div class="col-8">
            <div class="accordion m-4" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button style="background-color: #0b5929; color: white;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Person Data
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <div class="row">
                        <div class="col-3">
                            Organization:
                        </div>
                        <div class="col-5">
                            Function:
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-3">
                            <select class="form-select">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-3">
                            Family Name:
                        </div>
                        <div class="col-2">
                            Given Name:
                        </div>
                        <div class="col-3">
                            Local Surname:
                        </div>
                        <div class="col-2">
                            Local Name:
                        </div>
                        <div class="col-2">
                            Nationality:
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-2">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-2">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-2">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-3">
                            Gender:
                        </div>
                        <div class="col-3">
                            Date of Birth:
                        </div>
                        <div class="col-6">
                            
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-6">
                            
                        </div>
                        <div class="col-3">
                            Document Type:
                        </div>
                        <div class="col-5">
                            Document Number:
                        </div>
                        <div class="col-2">
                            Expiry Date:
                        </div>
                        <div class="col-2">
                            Date of Issue:
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-2">
                            <input class="form-control" type="date">
                        </div>
                        <div class="col-2">
                            <input class="form-control" type="date">
                        </div>
                        <div class="col-3">
                            Issuing Authority:
                        </div>
                        <div class="col-3">
                            Issuing Country:
                        </div>
                        <div class="col-6">
                            
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-3">
                            <select class="form-select" >
                                <option selected></option>
                            </select>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Sports and Venues
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Contact Data
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 m-4">

                </div>
                <div class="col-2 m-3">
                    <button style="width: 110%;" class="btn btn-success m-1">Add Form</button>
                </div>
                <div class="col-2 m-3">
                    <button style="width: 110%;" class="btn btn-info m-1">Submit</button>
                </div>
                <div class="col-2 m-3">
                    <button style="width: 110%;" class="btn btn-outline-danger m-1">Cancel</button>
                </div>
              </div>
        </div>
    </div>
</div>
