<div style="background-color: #ebeaea;" class="container-fluid">
    <div class="row">
        <div class="col-11 m-2">
            <button class="btn btn-info">Update Group Play Template</button>
            <button class="btn btn-outline-info m-1">Update Group Play Template</button>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <div style="background-color: white; " class="row">
        
                <div class="col-7">
                    <p class="fs-6">Name:</p>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <p class="fs-6">Num Rounds:</p>
                </div>
                <div class="col-7">
                    <input class="form-control" type="text">
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-3"><p class="fs-6">Num Brackets:</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p class="fs-6">Seeds per brackets:</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p class="fs-6">Seeds per brackets:</p></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-11">
                    <p class="fs-6">Description:</p>
                    <textarea class="form-control" rows="8"></textarea>
                </div>
            </div>
        </div>
        <div class="col-1">
            <p class="Round">A1 1/0</p>
            <p class="Round">A2 0/0</p>
            <p class="Round">A3 0/0</p>
            <p class="Round">A4 0/0</p>
            
        </div>
    </div>
    
</div>