<div style="background-color: #ebeaea;" class="container-fluid">
    <div class="row">
        <div class="col-11 m-2">
            <button class="btn btn-info">Update Group Play Template</button>
            <button class="btn btn-outline-info m-1">Update Group Play Template</button>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <div style="background-color: white; " class="row p-2 m-4">
        
                <div class="col-7">
                    <p class="fs-6">Name:</p>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <p class="fs-6">Num Rounds:</p>
                </div>
                <div class="col-7">
                    <input class="form-control" type="text">
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-3"><p class="fs-6">Num Brackets:</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p class="fs-6">Seeds per brackets:</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p class="fs-6">Seeds per brackets:</p></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <select class="form-select" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-12">
                    <p class="fs-6" >Description:</p>
                    <textarea class="form-control" rows="8"></textarea>
                </div>
            </div>
            <div style="background-color: white; " class="row p-2 m-4">
                <div class="col-12">
                    <p class="fs-5 fw-bold">Round 1:</p>
                </div>
                <div style="border: 1px solid #3f3f3f;" class="row p-2 m-1">
                    <div class="col-5">
                        <p class="Round-long">A1</p>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-5">
                        <p class="Round-long">A2</p>
                    </div>
                    <div class="col-1">
                        <p class="fs-5 fw-bold" style="margin-left: 1.2vw; margin-top: 1.3vh;">1/1</p>
                    </div>
                </div>
                <div style="border: 1px solid #3f3f3f;" class="row p-2 m-1">
                    <div class="col-5">
                        <p style="background-color: white; color: black; border: 1px solid #3f3f3f;" class="Round-long">Home</p>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-5">
                        <p style="background-color: white; color: black; border: 1px solid #3f3f3f;" class="Round-long">Away</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="col-1">
            <p class="Round">A1 1/0</p>
            <p class="Round">A2 0/0</p>
            <p class="Round">A3 0/0</p>
            <p class="Round">A4 0/0</p>
            <p style="background-color: #158a41;" class="Round">B1 1/0</p>
            <p style="background-color: #158a41;" class="Round">B2 0/0</p>
            <p style="background-color: #158a41;" class="Round">B3 0/0</p>
            <p style="background-color: #158a41;" class="Round">B4 0/0</p>
            <p style="background-color: #d9ba19;" class="Round">C1 1/0</p>
            <p style="background-color: #d9ba19;" class="Round">C2 0/0</p>
            <p style="background-color: #d9ba19;" class="Round">C3 0/0</p>
            <p style="background-color: #d9ba19;" class="Round">C4 0/0</p>
            <p style="background-color: #712683" class="Round">D1 1/0</p>
            <p style="background-color: #712683" class="Round">D2 0/0</p>
            <p style="background-color: #712683" class="Round">D3 0/0</p>
            <p style="background-color: #712683" class="Round">D4 0/0</p>
            
        </div>
    </div>
    
</div>