.Round{
    background-color: #2378b5;
    color: white;
    width: 7vw;
    height: 4vh;
    text-align: center;
}
.Round-long{
    background-color: #2378b5;
    text-align: left;
    color: white;
    font-weight: bold;
    width: 35vw;
    height: 40px;
    margin-top: 1.5vh;
    text-align: center;
}