<div style="background-color: #ebeaea;" class="container-fluid">
    <div class="row pt-2">
        <div class="col-1 normal-navbar">Male Open</div>
        <div class="col-1 clicked-navbar">Male U15</div>
    </div>

    <div style="background-color: white;" class="row p-2">
        <div class="col-3">
            <button style="height: 4vh; background-color: black;" class="btn btn-dark"></button>
            <span class="fs-5 m-4 fw-bold">BOYS U15</span>
        </div>
        <div class="col-5"></div>
        <div class="col-4 d-flex justify-content-center">
            <button data-bs-toggle="modal" data-bs-target="#groupPlay" class="btn btn-info m-1">Select Group Play Template</button>
            <button class="btn btn-info m-1">Create Matches</button>
        </div>
        </div>
        <div style="background-color: white;" class="row p-2">
            <div class="col-12">
                <span class="fs-6 fw-bold">Group play Template </span>
                <span class="fs-6">4 team 6 game league schedule</span>
                <button class="btn btn-outline-info m-2">Preview Matches</button>
            </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <span class="fs-6">Bracket A Total Teams: 4</span>
            </div>
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Set Name</th>
                        <th scope="col">Match Count</th>
                        <th scope="col">First Date</th>
                        <th scope="col">Last Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of teams" >
                            <td>{{i.name}}</td>
                            <td>{{i.count}}</td>
                            <td>{{i.fDate}}</td>
                            <td>{{i.lDate}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <hr>
            <div class="col-10">
                <span class="fs-6 fw-bold">Playoffs</span>
            </div>
            <div class="col-2">
                <button data-bs-toggle="modal" data-bs-target="#Template" class="btn btn-info">Add PlayOff</button>
            </div>
            <div *ngFor="let item of playoffs" class="row m-3">
                <div class="col-8">
                    <p class="fs-6">{{item.name}}</p>
                    <p class="fs-6">{{item.description}}</p>
                </div>
                <div class="col-4">
                    <button class="btn btn-info m-2">Create Matches</button>
                    <button class="btn btn-info m-2">Remove PlayOffs</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="groupPlay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div style="background-color: #0b5929; color: white;" class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Template</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div style="cursor: pointer;" data-bs-dismiss="modal" aria-label="Close" (click)="addTeam()" *ngFor="let item of templateArray" class="col-12">
                <span class="fs-6">{{item}}</span>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="Template" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div style="background-color: #0b5929; color: white;" class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Template</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div style="cursor: pointer;" data-bs-dismiss="modal" aria-label="Close" *ngFor="let item of matchTemplateArray" (click)="addPlayOff(item.name,item.description)" class="col-12">
                <p class="fs-5 fw-bold">{{item.name}}</p>
                <p class="fs-6">{{item.description}}</p>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>