<div class="container-fluid">
    <div class="row p-4">
        <div class="col-12">
            <p class="fs-5 text-success">(1) Download Data Template</p>
        </div>
        <div class="col-6 p-2">
            <p class="fs-5">Games: </p>
            <select class="form-select" >
                <option selected></option>
            </select>
        </div>
        <div class="col-6 p-2">
            <p class="fs-5">Category Group: </p>
            <select class="form-select" >
                <option selected></option>
            </select>
        </div>
        <div class="col-12 mt-4">
            <button class="btn btn-info" (click)="downloadTemplate()">Download Template</button>
        </div>
        <div class="col-12 p-2 mt-4">
            <p class="fs-5 text-success">(2) Upload Data Template</p>
        </div>
        <div class="col-6 p-2">
            <p class="fs-5">Form Type: </p>
            <select class="form-select" >
                <option selected></option>
            </select>
        </div>
        <div class="col-6 p-2">
            <p class="fs-5">Games: </p>
            <select class="form-select" >
                <option selected></option>
            </select>
        </div>
        <div class="col-5 p-2">
            <p class="fs-5">File: </p>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="col-7 p-2"></div>
        <div class="col-10 p-2"></div>
        <div class="col-2 p-2">
            <button class="btn btn-outline-danger m-2">Cancel</button>
            <button class="btn btn-info m-2">Submit</button>
        </div>
    </div>
</div>