.participant-list-header{
    background-color: #0b5929;
    color: white;
    border-radius: 5px;
}
.participant{
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: 0.25s;
}
.participant:hover{
    background-color: rgb(219, 217, 217);
}