<div class="container-fluid">
    <div class="row p-2">
        <div class="col-10">
            <p class="fs-5 fw-bold mt-3">Competitions</p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New Competition</button>
        </div>
    </div>
            <div class="row participant-list-header p-3 m-1">
                <div class="col-4">
                    Name
                </div>
                <div class="col-2">
                    Sport
                </div>
                <div class="col-2">
                    Competition Type
                </div>
                <div class="col-2">
                    Events
                </div>
            </div>
            <div routerLink="/edit" *ngFor="let Competition of competitionList " class="row participant p-3 m-1">
                <div class="col-4">
                    {{Competition.name}}
                </div>
                <div class="col-2">
                    {{Competition.sport}}
                </div>
                <div class="col-2">
                    {{Competition.type}}
                </div>
                <div class="col-2">
                    {{Competition.events}}
                </div>
            </div>
            <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">New Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
                Name:
            </div>
            <div class="col-6">
                Competition Type:
            </div>
            <div class="col-6">
                <input class="form-control" type="text">
            </div>
            <div class="col-6">
                <select class="form-select" >
                    <option selected></option>
                </select>
            </div>
            <div class="col-6">
                Sport:
            </div>
            <div class="col-6">
                Grouping:
            </div>
            <div class="col-6">
                <select class="form-select" >
                    <option selected></option>
                </select>
            </div>
            <div class="col-6">
                <select class="form-select" >
                    <option selected></option>
                </select>
            </div>
            <div class="col-6">
                Government Organization:
            </div>
            <div class="col-6">
            </div>
            <div class="col-6">
                <select class="form-select" >
                    <option selected></option>
                </select>
            </div>
            <div class="col-6">
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
