<div class="container-fluid">
    <div class="row justify-content-center">
        <div style="border: 1px solid black;" class="col-12 col-md-8 col-sm-12 col-lg-10">
            <div class="row justify-content-center">
                <div class="col-11">
                    <img style="width: 150px;" [src]="image" class="rounded-circle" >
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Name: </p>
                    <p class="fs-6">Jim Abbott</p>
                </div>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Registration Code: </p>
                    <p class="fs-6">#123456</p>
                </div>
                <hr>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Job: </p>
                    <p class="fs-6">Athlete</p>
                </div>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Game: </p>
                    <p class="fs-6">Volly</p>
                </div>
                <hr>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Organization: </p>
                    <p class="fs-6">Esp</p>
                </div>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Category: </p>
                    <p class="fs-6">AC</p>
                </div>
                <hr>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Country: </p>
                    <p class="fs-6">Egypt</p>
                </div>
                <div class="col-6">
                    <p style="color: #9e9999;" class="fs-6">Function: </p>
                    <p class="fs-6">AC01</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3 p-3">
                        <button class="btn btn-info">Preview ID</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
