<div class="container-fluid">
    <div class="row p-2">
        <div class="col-10">
        </div>
        <div class="col-2">
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New Group Play Template</button>
        </div>
    </div>
            <div class="row list-header p-3 m-1">
                <div class="col-2">
                    Name / Description
                </div>
                <div class="col-3">
                    Rounds
                </div>
                <div class="col-3">
                    Brackets x Seeds
                </div>
                <div class="col-2">
                    Created At / Updated At
                </div>
                <div class="col-2">
                    Actions
                </div>
            </div>
            <div *ngFor="let groupPlay of groupPlayList" class="row list-item p-3 m-1">
                <div class="col-2">
                    {{groupPlay.name}}
                </div>
                <div class="col-3">
                    {{groupPlay.rounds}}
                </div>
                <div class="col-3">
                    {{groupPlay.brackets}} x {{groupPlay.seeds}}
                </div>
                <div class="col-2">
                    {{groupPlay.createdAt}} / 
                    {{groupPlay.updatedAt}}
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary ">.</button>
                    <button class="btn btn-outline-danger m-1">.</button>
                </div>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">New Group Play Template</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-5">
                            Name:
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            Num Rounds:
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-6">
                            <select class="form-select" >
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-3">
                            Num Brackets:
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            Seeds per Bracket:
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            Default Matchup Count:
                        </div>
                        <div class="col-3">
                            <select class="form-select" >
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <select class="form-select" >
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-4">
                            <select class="form-select" >
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-12">
                            Description:
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" rows="6"></textarea>
                        </div>
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success">Save</button>
                    </div>
                  </div>
                </div>
              </div>